<div
  id="header">

  <i class="material-icons">tv</i>

  <div class="input-combo">
    <div class="searchbox">
        <input id="search" type="text">
    </div>
    <button>
        <i class="material-icons">search</i>
    </button>
  </div>

</div>



<!-- 
<mat-toolbar color="primary">  
  <mat-toolbar-row>

    <button
      (click)="sidenav.toggle()"
      mat-flat-button>
        <i class="material-icons">menu</i>
    </button>

    <input id="search">

    <span>First Row</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row>
</mat-toolbar> -->
