.title {
    color: rgb(10, 10, 10);
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    font-variant: normal;
    font-weight: 400;
    line-height: 24px;
}

.channel {
    cursor: pointer;
    display: inline-block;
    color: rgb(10, 10, 10);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.description {
    color: rgb(10, 10, 10);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.published-date {
    color: rgba(17, 17, 17, 0.6);;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.statistics {
    color: rgb(96, 96, 96);
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    i.material-icons {
        padding-left: 5px;
        padding-right: 5px;
    }
}