.playlist-preview {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: relative;
    margin-top: 16px;

    .title {
        color: #0A0A0A;
        display: block;
        max-height: 48px;
        overflow: hidden;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .channel, .date, .view-count {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        margin-right: 4px;
        margin-left: 4px;
    }
    .description {
        color: #606060;
        padding-top: 8px;
        margin-bottom: 8px;
        display: block;
        line-height: 18px;
        max-height: 36px;
        overflow: hidden;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
    }

    .thumbnail {
        position: relative;
        margin-right: 16px;

        img {
            width: 246px;
            height: 138px;
            display: inline-block;
            position: relative;
        }
        .thumbnail-overlay {
            position: absolute;
            right: 0;
            top: 0;
            // bottom: 0;
            height: 138px;
            width: 123px;
            background-color: hsla(0, 0%, 6.7%, .8);
            color: hsla(0, 0%, 100%, .8);
            text-align: center;
            font-size: 16[x];
            font-weight: 400;
            line-height: 2px;
            display: flex;

            .thumbnail-overlay-text {
                width: 100%;
                top: 50px;
                position: relative;

                color: rgba(255, 255, 255, 0.8);
                cursor: pointer;
                font-family: Roboto, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
            }
            .material-icons {
                width: 100%;
            }
        }
    }
    
}