<div class="container">

    <a
        (click)="showFilters=!showFilters"
        id="filters">
        <i class="material-icons">tune</i>
    </a>

    <div
        class="filters-container"
        [ngClass]="{'visible': showFilters}">
        <div
            class="filter col-sm-12 col-md-3"
            *ngFor="let k of keys(filters)">
            <h4 class="filter-group-name">{{filters[k].name}}</h4>
            
            <div 
                class="filter-label"
                *ngFor="let option of filters[k].options">
                <a
                    (click)="filters[k].value = option.value; updateRouteParams();"
                    [ngClass]="{'selected': (option.value === filters[k].value)}">
                    {{option.label}}
                </a>
                <i
                    *ngIf="(k !== 'order' && option.value === filters[k].value)"
                    (click)="filters[k].value=null; updateRouteParams();"
                    class="material-icons">
                    close
                </i>
            </div>

        </div>
    </div>


</div>
