<a id="filters">
    <i class="material-icons">tune</i>
    
</a>

<div class="filter">
    <h4 class="filter-group-name">Upload date</h4>

    <a class="filter-label">Today</a>
    <a class="filter-label">This week</a>
    <a class="filter-label">This month</a>
</div>


<div class="filter">
    <h4 class="filter-group-name">Type</h4>

    <a class="filter-label">Any</a>
    <a class="filter-label">Channel</a>
    <a class="filter-label">Playlist</a>
</div>


<div class="filter">
    <h4 class="filter-group-name">Sort by</h4>

    <a class="filter-label">Relevance</a>
    <a class="filter-label">Channel</a>
    <a class="filter-label">Playlist</a>
</div>
